<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syncroweb.biocomp20">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_heart"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashScreen"
                  android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu">

        </activity>
        <activity
            android:name=".Calculate"
            android:parentActivityName=".MainMenu"
            android:label="@string/calculate_compatibility">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.syncroweb.biocomp20.MainMenu" />
        </activity>
        <activity
            android:name=".CalculateLoadOrNew"
            android:parentActivityName=".Calculate"
            android:label="@string/load_or_new">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.syncroweb.biocomp20.Calculate" />
        </activity>
        <activity android:name=".ChooseDate"
            android:label="@string/choose_date">

        </activity>
        <activity
            android:name=".Infos"
            android:parentActivityName=".MainMenu"
            android:label="@string/infos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.syncroweb.biocomp20.MainMenu" />
        </activity>
        <activity
            android:name=".RegisterOrLoadDate"
            android:parentActivityName=".RegisteredDateList"
            android:label="@string/enter_new_profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.syncroweb.biocomp20.RegisteredDateList" />
        </activity>
        <activity
            android:name=".RegisteredDateList"
            android:parentActivityName=".MainMenu"
            android:label="@string/your_date_list">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.syncroweb.biocomp20.MainMenu" />
        </activity>
        <activity
            android:name=".OtherApps"
            android:parentActivityName=".MainMenu"
            android:label="@string/our_other_apps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.syncroweb.biocomp20.MainMenu" />
        </activity>
    </application>

</manifest>